/******************************************
*
*   Front-end News Stylesheet 
*
*   White:                  #FFFFFF
*   Grey(Light)             #B6B6B6
*   Grey(Dark)              #212121
*   Blue(Winter Wizard)     #A3D9FF
*   Violet(French Lilac)    #7E6B8F
*   Green(Teal Deer)        #96E6B3
*   Red(Desire)             #DA3E52
*   Yellow(Minion Yellow)   #F2E94E
*
******************************************/

/* Base Style */

body {
    color: #212121;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {

}
ol,ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
p {

}
a {
    color: #DA3E52;
}
a:hover,
a:focus,
a:active {
    color: #212121;
}

/******************************************
*   Hero 
******************************************/

.hero {
    background-color: #7E6B8F;
    padding: 20px 0;
    margin-bottom: 40px;
    text-align: center;
    color: #ffffff;
}

/******************************************
*   Logo 
******************************************/

.logo {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

/******************************************
*   News
******************************************/

.news-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #B6B6B6;
    margin-bottom: 20px;
}
.news-link {
    color: #7E6B8F;
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}
.news-meta-item {
    display: inline;
    margin-right: 15px;
}

/******************************************
*   Content
******************************************/

.container {
    margin: 0 auto;
    max-width: 800px;
}

/******************************************
*   Animation
******************************************/

.is-liked {
    animation: flash 1.5s;
}

/******************************************
*   Animation
******************************************/

@keyframes flash {
    from, 50%, to {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}